@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  font-size: 1rem;
}

h1 {
  padding: 1.2em 0em;
  margin: 0em 0em 2em 0em;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  color: #333;
}
